<%= partial "layouts/head" %>

<div class="SplitView">

  <div class="SplitView-primary">
    <%= partial "/layouts/header" %>
    <div class="SplitView-primary-content">
      <%= yield %>
    </div>
  </div>

  <div class="SplitView-secondary">
    <div class="SplitView-secondary-content">
      <%= partial "layouts/sidenav" %>
    </div>
  </div>
</div>
