<% wrap_layout :default do %>
  <div class="Grid-row">

    <div class="Grid-col md-9 md-push-3">
      <h1 class="page-title">
        <%= current_page.data.title %>
      </h1>

      <%= partial "layouts/scss-file-link" %>

      <div class="markdown-body">
        <%= yield %>
      </div>
    </div>
    <div class="Grid-col md-3 md-pull-9">
      <%= partial "layouts/sidenav" %>
    </div>

  </div>
<% end %>