<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="FreeAgent" />

    <title>
      Heading &middot; Origin
    </title>

    <!-- FIX ME -->
    <link rel="stylesheet" href="http://fac.github.io/origin/assets/css/origin.css" />
    <link href="/images/favicon.ico" rel="shortcut" type="image/x-icon" />

    <!-- Typekit embed code for Effra and Swister -->
    <script src="https://use.typekit.net/hnj7chl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body>


<header class="masthead">
  <div class="u-padding--large">
    <div class="Grid-row">
      <div class="Grid-col md-3">
        <a href="/" class="masthead-logo">
          Origin
        </a>
      </div>
      <div class="Grid-col md-9">
        <nav class="masthead-nav">
          <a href="/about">About</a>
          <a href="https://github.com/fac/origin" target="_blank">GitHub</a>
          <a href="https://github.com/fac/origin/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </div>
  </div>
</header>


  <div class="Grid-row">

    <div class="Grid-col md-9 md-push-3">
      <h1 class="page-title">
        Heading
      </h1>

        <p>
    <a class="Button Button--outline" href="{{ site.github.repo }}/tree/master/assets/scss/global/components/{{ page.scss-filename }}">View SCSS source</a>
  </p>



      <div class="markdown-body">
        <p>The Heading component provides a scale of headings that can be applied to any element, creating consistency and avoiding inheritance issues that come with targeting bare HTML elements.</p>

<p>Separating the structure and presentation of headings like is extremely useful. For example, if a heading should structurally be an <code>h2</code> but we want it to appear small, we can simply use the <code>Heading--small</code> class. We get the desired presentation, but retain the correct semantic structure.</p>

<ul id="markdown-toc">
  <li><a id="markdown-toc-how-to-use" href="#how-to-use">How to use</a>    <ul>
      <li><a id="markdown-toc-examples" href="#examples">Examples</a></li>
    </ul>
  </li>
  <li><a id="markdown-toc-mixin" href="#mixin">Mixin</a>    <ul>
      <li><a id="markdown-toc-examples-1" href="#examples-1">Examples</a></li>
    </ul>
  </li>
  <li><a id="markdown-toc-default-settings-for-projects" href="#default-settings-for-projects">Default settings for projects</a></li>
  <li><a id="markdown-toc-sizes" href="#sizes">Sizes</a></li>
  <li><a id="markdown-toc-colors" href="#colors">Colors</a></li>
  <li><a id="markdown-toc-fonts" href="#fonts">Fonts</a></li>
  <li><a id="markdown-toc-spacing" href="#spacing">Spacing</a></li>
  <li><a id="markdown-toc-underlines" href="#underlines">Underlines</a></li>
  <li><a id="markdown-toc-weights" href="#weights">Weights</a></li>
  <li><a id="markdown-toc-editorial-spacing" href="#editorial-spacing">Editorial spacing</a></li>
</ul>

<h2 id="how-to-use">How to use</h2>
<ol>
  <li>Apply a base <code>Heading</code> class and a <code>Heading--size</code> modifier class to any HTML element, where <code>size</code> equals any of <code>xx-large</code>, <code>x-large</code>, <code>large</code>, <code>default</code>, <code>small</code>, <code>x-small</code>, or <code>xx-small</code>, as <a href="#sizes">listed below</a>.</li>
  <li>Optionally apply any other <a href="#colors">color</a>, <a href="#fonts">font</a>, <a href="#spacing">spacing</a>, or <a href="#weights">weight</a> modifier classes to achieve whatever effect you need. List classes in alphabetical order.</li>
</ol>

<h3 id="examples">Examples</h3>
<p>{% example html %}</p>
<h2 class="Heading Heading--xx-large">
  XX-Large Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--large Heading--space--xx-small">
  Large Heading With XX-Small Spacing
</h3>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--color--x-light Heading--weight--light Heading--x-large">
  X-Large Heading With X-Light-Color XX-Light-Weight
</h3>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--font--editorial Heading--weight--normal Heading--x-large">
  X-Large Editorial Normal Weight Heading
</h3>
<p>{% endexample %}</p>

<h2 id="mixin">Mixin</h2>
<p>The Heading component can be integrated into stylesheets for other components and layouts using the <code>Heading</code> mixin.</p>

<p>The mixin accepts <code>color</code>, <code>font-family</code>, <code>font-size</code>, <code>font-weight</code>, and <code>margin-bottom</code> arguments with values sourced from our <a href="{{ site.github.repo }}/blob/master/assets/scss/global/utilities/_utility-values.scss">utility values</a>. Arguments must be declared in alphabetical order to work properly.</p>

<h3 id="examples-1">Examples</h3>
<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
@include Heading(small);
@include Heading(xx-large);
@include Heading(fa-blue--xx-dark, large);
@include Heading(editorial, x-large, large);
@include Heading(fa-green, editorial, small);
@include Heading(legacy, large);
@include Heading(fa-blue, editorial, xx-large, semi-bold, default);
{% endexample %}
</div>

<h2 id="default-settings-for-projects">Default settings for projects</h2>
<p>We use different default colors, fonts, and weights for headings in different projects. We could just override our global defaults when required, but continually doing so would be painful.</p>

<p>Instead we can define default settings for projects by editing the contents of <a href="{{ site.github.repo }}/blob/master/assets/scss/local/fonts/_heading-settings.scss">_heading-settings.scss</a>.</p>

<p>This file exists locally for projects, so changing it wont't affect the Origin repo.</p>

<h2 id="sizes">Sizes</h2>
<p>These size examples show both HTML and CSS mixin implementations.</p>
<div class="DocsExample DocsExample--adjacentExample">
{% example html %}
<h1 class="Heading Heading--xx-large">Heading xx-large</h1>
<span class="Heading Heading--xx-large">Heading xx-large</span>
{% endexample %}
</div>

<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
.MyElement {
  @include Heading(xx-large);
}
{% endexample %}
</div>

<div class="DocsExample DocsExample--adjacentExample">
{% example html %}
<h2 class="Heading Heading--x-large">Heading x-large</h2>
<span class="Heading Heading--x-large">Heading x-large</span>
{% endexample %}
</div>

<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
.MyElement {
  @include Heading(x-large);
}
{% endexample %}
</div>

<div class="DocsExample DocsExample--adjacentExample">
{% example html %}
<h3 class="Heading Heading--large">Heading large</h3>
<span class="Heading Heading--large">Heading large</span>
{% endexample %}
</div>

<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
.MyElement {
  @include Heading(large);
}
{% endexample %}
</div>

<div class="DocsExample DocsExample--adjacentExample">
{% example html %}
<h4 class="Heading Heading--small">Heading small</h4>
<span class="Heading Heading--small">Heading small</span>
{% endexample %}
</div>

<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
.MyElement {
  @include Heading(small);
}
{% endexample %}
</div>

<div class="DocsExample DocsExample--adjacentExample">
{% example html %}
<h5 class="Heading Heading--x-small">Heading x-small</h5>
<span class="Heading Heading--x-small">Heading x-small</span>
{% endexample %}
</div>

<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
.MyElement {
  @include Heading(x-small);
}
{% endexample %}
</div>

<div class="DocsExample DocsExample--adjacentExample">
{% example html %}
<h6 class="Heading Heading--xx-small">Heading xx-small</h6>
<span class="Heading Heading--xx-small">Heading xx-small</span>
{% endexample %}
</div>

<div class="DocsExample DocsExample--renderHidden">
{% example scss %}
.MyElement {
  @include Heading(xx-small);
}
{% endexample %}
</div>

<h2 id="colors">Colors</h2>
<p>If you need a color or shade outside of this selection, you can use a utility class (e.g. <code>u-text-color--fa-blue</code>) from our list of <a href="{{ site.github.repo }}/blob/master/assets/scss/global/utilities/_utility-values.scss">text color values</a> — only if there are only 1 or 2 instances of the heading color in whatever you're working on.</p>

<p>If you want to set an alternative default heading color for your whole project, do so in your local copy of <a href="{{ site.github.repo }}/blob/master/assets/scss/local/fonts/_heading-settings.scss">_heading-settings.scss</a>.</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--dark Heading--x-large">
  Dark Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--default Heading--x-large">
  Default Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--light Heading--x-large">
  Light Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--x-light Heading--x-large">
  X-Light Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--xx-light Heading--x-large">
  XX-Light Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--negative Heading--x-large">
  Negative Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--positive Heading--x-large">
  Positive Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--color--warning Heading--x-large">
  Warning Heading
</h2>
<p>{% endexample %}</p>

<h2 id="fonts">Fonts</h2>
<p>The <code>Heading--font--default</code> class isn't required if you're already using the default font for headings. Only if you're using an alternate font and want to override it.
{% example html %}</p>
<h2 class="Heading Heading--font--default Heading--x-large">
  Default Font Heading
</h2>
<p>{% endexample %}</p>

<p>We automatically include <code>@include font-weight(normal)</code> as part of the <code>Heading--font--editorial</code> class as we don't use the bold weight of our editorial typeface.
{% example html %}</p>
<h2 class="Heading Heading--font--editorial Heading--x-large">
  Editorial Font Heading
</h2>
<p>{% endexample %}</p>

<p>Our legacy typeface is still used in a selection of application contexts, including desktop and mobile web. We'll remove it eventually, but until then it'll be available as part of the Heading component.
{% example html %}</p>
<h2 class="Heading Heading--font--legacy Heading--x-large">
  Legacy Font Heading
</h2>
<p>{% endexample %}</p>

<h2 id="spacing">Spacing</h2>
<p>The Heading component doesn't have any margin by default, so it's very flexible. But we'll often want to add space between it and an adjacent element. We can use a set of spacing classes to do so.</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--large Heading--space--xx-small">
  Heading With XX-Small Spacing
</h3>
<p>The Heading component doesn't have any margin by default, so it's very flexible. But we'll often want to add space between it and an adjacent element. We can use a set of spacing classes to do so.</p>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--large Heading--space--x-small">
  Heading With X-Small Spacing
</h3>
<p>The Heading component doesn't have any margin by default, so it's very flexible. But we'll often want to add space between it and an adjacent element. We can use a set of spacing classes to do so.</p>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--large Heading--space--small">
  Heading With Small Spacing
</h3>
<p>The Heading component doesn't have any margin by default, so it's very flexible. But we'll often want to add space between it and an adjacent element. We can use a set of spacing classes to do so.</p>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--large Heading--space--default">
  Heading With Default Spacing
</h3>
<p>The Heading component doesn't have any margin by default, so it's very flexible. But we'll often want to add space between it and an adjacent element. We can use a set of spacing classes to do so.</p>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h3 class="Heading Heading--large Heading--space--large">
  Heading With Large Spacing
</h3>
<p>The Heading component doesn't have any margin by default, so it's very flexible. But we'll often want to add space between it and an adjacent element. We can use a set of spacing classes to do so.</p>
<p>{% endexample %}</p>

<h2 id="underlines">Underlines</h2>
<p>When further distinction is required between a heading and the content below and underline can be applied. An example of this would be the <a href="http://www.freeagent.com/glossary">glossary index listings</a>.
{% example html %}</p>
<h2 class="Heading Heading--weight--bold Heading--underlined">
  Heading With Underline
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading-weight--bold Heading--underlined--light">
  Heading With Light Underline
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--weight--bold Heading--underlined--dark">
  Heading With Dark Underline;
</h2>
<p>{% endexample %}</p>

<h2 id="weights">Weights</h2>
<p>{% example html %}</p>
<h2 class="Heading Heading--weight--light Heading--x-large">
  Light Weight Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--weight--normal Heading--x-large">
  Normal Weight Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--weight--semi-bold Heading--x-large">
  Semi-bold Weight Heading
</h2>
<p>{% endexample %}</p>

<p>{% example html %}</p>
<h2 class="Heading Heading--weight--bold Heading--x-large">
  Bold Weight Heading
</h2>
<p>{% endexample %}</p>

<h2 id="editorial-spacing">Editorial spacing</h2>
<p>By default, the <code>Heading</code> component has no margins other than a small <code>margin-bottom</code>. Being so unopinionated means it can be used in a multitude of contexts without alteration.</p>

<p>But when we're writing editorial content like articles and blog posts, we want headings to be spaced sympathetically. Spacing that improves the reading experience, but also doesn't require us to add classes to every single heading. By wrapping editorial content in a <code>l-editorial</code> container, that's what we get.</p>

<p>{% example html %}</p>
<div class="l-editorial">
  <h1>Heading one</h1>
  <p>Spacing between paragraphs and headings in editorial content should be comfortable without having to add classes to every heading.</p>

  <h2>Heading two</h2>
  <p>Spacing between paragraphs and headings in editorial content should be comfortable without having to add classes to every heading.</p>

  <h3>Heading three</h3>
  <p>Spacing between paragraphs and headings in editorial content should be comfortable without having to add classes to every heading.</p>

  <h4>Heading four</h4>
  <p>Spacing between paragraphs and headings in editorial content should be comfortable without having to add classes to every heading.</p>

  <h5>Heading five</h5>
  <p>Spacing between paragraphs and headings in editorial content should be comfortable without having to add classes to every heading.</p>

  <h6>Heading six</h6>
  <p>Spacing between paragraphs and headings in editorial content should be comfortable without having to add classes to every heading.</p>
</div>
<p>{% endexample %}</p>

      </div>
    </div>
    <div class="Grid-col md-3 md-pull-9">
      <h4 class="menu-title">
  <a href="/guidance/components/">Components</a>
</h4>
<nav class="menu docs-menu">
    <a class="menu-item" href="/origin/components/block-grid/">Block Grid</a>
    <a class="menu-item" href="/origin/components/button/">Button</a>
    <a class="menu-item" href="/origin/components/card/">Card</a>
    <a class="menu-item" href="/origin/components/grid/">Grid</a>
    <a class="menu-item" href="/origin/components/heading/">Heading</a>
    <a class="menu-item" href="/origin/components/navbar/">NavBar</a>
    <a class="menu-item" href="/origin/components/segmented-control/">Segmented Control</a>
    <a class="menu-item" href="/origin/components/table/">Table</a>
</nav>

<h4 class="menu-title">
  <a href="/guidance/utilities/">Utilities</a>
</h4>
<nav class="menu docs-menu">
  <a class="menu-item " href="{{ site.baseurl }}/components/button/">
    Button
  </a>
  <a class="menu-item " href="{{ site.baseurl }}/components/card/">
    Card
  </a>
  <span class="menu-item">
    Checkbox
  </span>
  <a class="menu-item selected" href="{{ site.baseurl }}/components/heading/">
    Heading
  </a>
  <span class="menu-item">
    List
  </span>
  <a class="menu-item " href="{{ site.baseurl }}/components/navbar/">
    NavBar
  </a>
  <span class="menu-item">
    Notice
  </span>
  <span class="menu-item">
    RadioButton
  </span>
  <a class="menu-item " href="{{ site.baseurl }}/components/segmented-control/">
    Segmented Control
  </a>
  <a class="menu-item " href="{{ site.baseurl }}/components/table/">
    Table
  </a>
  <span class="menu-item">
    TableView
  </span>
  <span class="menu-item">
    Tabs
  </span>
  <span class="menu-item">
    TextArea
  </span>
  <span class="menu-item">
    TextInput
  </span>
    <a class="menu-item" href="/origin/utilities/background/">background</a>
    <a class="menu-item" href="/origin/utilities/border-radius/">border-radius</a>
    <a class="menu-item" href="/origin/utilities/border/">border</a>
    <a class="menu-item" href="/origin/utilities/box-shadow/">box-shadow</a>
    <a class="menu-item" href="/origin/utilities/box-sizing/">box-sizing</a>
    <a class="menu-item" href="/origin/utilities/breakpoint/">breakpoint</a>
    <a class="menu-item" href="/origin/utilities/clear/">clear</a>
    <a class="menu-item" href="/origin/utilities/display/">display</a>
    <a class="menu-item" href="/origin/utilities/flex-align-content/">flex-align-content</a>
    <a class="menu-item" href="/origin/utilities/flex-align-items/">flex-align-items</a>
    <a class="menu-item" href="/origin/utilities/flex-align-self/">flex-align-self</a>
    <a class="menu-item" href="/origin/utilities/flex-basis/">flex-basis</a>
    <a class="menu-item" href="/origin/utilities/flex-direction/">flex-direction</a>
    <a class="menu-item" href="/origin/utilities/flex-flow/">flex-flow</a>
    <a class="menu-item" href="/origin/utilities/flex-grow/">flex-grow</a>
    <a class="menu-item" href="/origin/utilities/flex-justify-content/">flex-justify-content</a>
    <a class="menu-item" href="/origin/utilities/flex-order/">flex-order</a>
    <a class="menu-item" href="/origin/utilities/flex-shrink/">flex-shrink</a>
    <a class="menu-item" href="/origin/utilities/flex-wrap/">flex-wrap</a>
    <a class="menu-item" href="/origin/utilities/flex/">flex</a>
    <a class="menu-item" href="/origin/utilities/flexbox/">flexbox</a>
    <a class="menu-item" href="/origin/utilities/float/">float</a>
    <a class="menu-item" href="/origin/utilities/font-family/">font-family</a>
    <a class="menu-item" href="/origin/utilities/font-size/">font-size</a>
    <a class="menu-item" href="/origin/utilities/font-weight/">font-weight</a>
    <a class="menu-item" href="/origin/utilities/height-and-width/">height and width</a>
    <a class="menu-item" href="/origin/utilities/interaction/">interaction</a>
    <a class="menu-item" href="/origin/utilities/keyframe-animation/">keyframe animation</a>
    <a class="menu-item" href="/origin/utilities/letter-spacing/">letter-spacing</a>
    <a class="menu-item" href="/origin/utilities/line-height/">line-height</a>
    <a class="menu-item" href="/origin/utilities/linear-gradient/">linear-gradient</a>
    <a class="menu-item" href="/origin/utilities/list-item-spacing/">list-item-spacing</a>
    <a class="menu-item" href="/origin/utilities/list-style/">list-style</a>
    <a class="menu-item" href="/origin/utilities/margin/">margin</a>
    <a class="menu-item" href="/origin/utilities/opacity/">opacity</a>
    <a class="menu-item" href="/origin/utilities/overflow/">overflow</a>
    <a class="menu-item" href="/origin/utilities/padding/">padding</a>
    <a class="menu-item" href="/origin/utilities/positioning/">positioning</a>
    <a class="menu-item" href="/origin/utilities/text-color/">text-color</a>
    <a class="menu-item" href="/origin/utilities/text-decoration/">text-decoration</a>
    <a class="menu-item" href="/origin/utilities/text-formatting/">text-formatting</a>
    <a class="menu-item" href="/origin/utilities/transform/">transform</a>
    <a class="menu-item" href="/origin/utilities/transition/">transition</a>
    <a class="menu-item" href="/origin/utilities/vertical-align/">vertical-align</a>
    <a class="menu-item" href="/origin/utilities/visibility/">visibility</a>
    <a class="menu-item" href="/origin/utilities/z-index/">z-index</a>
</nav>

<h4 class="menu-title">
  Guidance
</h4>
<nav class="menu docs-menu">
    <a class="menu-item" href="/origin/guidance/base-styles/">Base styles</a>
    <a class="menu-item" href="/origin/guidance/code-style/">Code style</a>
    <a class="menu-item" href="/origin/guidance/components/">Components</a>
    <a class="menu-item" href="/origin/guidance/naming-conventions/">Naming conventions</a>
    <a class="menu-item" href="/origin/guidance/principles/">Principles</a>
    <a class="menu-item" href="/origin/guidance/utilities/">Utilities</a>
</nav>

    </div>

  </div>


    <footer class="u-padding-bottom--large u-padding-top--large u-md-padding-bottom--xx-large u-md-padding-top--xx-large u-text-color--gray-9" role="contentinfo">
      <div class="Grid-row">
        <div class="Grid-col">
          &copy; FreeAgent 2016 &middot; Released under the <a href="https://github.com/fac/origin/blob/master/LICENSE.md">MIT</a> license
        </div>
      </div>
    </footer>

    <script src="../../javascripts/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>

